<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/header') %>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Crimson+Pro"
    />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="icon" type="image/png" href="/images/logo.png" />
    <title>BGdhoop</title>
</head>
<body>
  <%- include('partials/popmsg') %> <%- include('partials/nav') %>


  <div class="hero-main">
    <div class="carousel">

      <div class="list">

          <div class="item" style="background-image: url(/images/loban.png);">
              <div class="content">
                  <div class="title"> Loban</div>
                  <div class="name"> Dhoop</div>
                  <div class="des">Perfect for daily पूजा, meditation, and evening prayers, its soothing smoke refreshes the environment and promotes mental peace.</div>
                  <div class="btn">
                    <button>Shop Now</button>
                  </div>
              </div>
          </div>

          <div class="item" style="background-image: url(/images/rose.png);">
              
              <div class="content">
                  <div class="title">Rose </div>
                  <div class="name">Dhoop</div>
                  <div class="des"> Ideal for prayer rooms, relaxation, and spiritual rituals, this fragrance symbolizes purity, devotion, and emotional harmony.</div>
                  <div class="btn">
                    <button>Shop Now</button>
                  </div>
              </div>

          </div>

          <div class="item" style="background-image: url(/images/lav.png);">

              <div class="content">
                  <div class="title"> Lavender</div>
                  <div class="name">Dhoop</div>
                  <div class="des">Known for its calming properties, this fragrance helps reduce stress, improve focus, and create a peaceful atmosphere for meditation, yoga, or quiet evenings at home.</div>
                  <div class="btn">
                    <button>Shop Now</button>
                  </div>
              </div>

          </div>

          <div class="item" style="background-image: url(/images/mix.png);">
              
              <div class="content">
                  <div class="title">Mix Fragrance</div>
                  <div class="name">Dhoop</div>
                  <div class="des"> Each cone releases a unique aroma that fills your home with spiritual energy, positivity, and freshness</div>
                  <div class="btn">
                    <button>Shop Now</button>
                  </div>
              </div>

          </div>

          <div class="item" style="background-image: url(/sandal.png);">
              
              <div class="content">
                  <div class="title">Sandalwood</div>
                  <div class="name">Dhoop</div>
                  <div class="des">BG Sandalwood Dhoop carries the timeless fragrance of pure sandalwood, widely used in Indian rituals and meditation practices.</div>
                  <div class="btn">
                    <button>Shop Now</button>
                  </div>
              </div>

          </div>

          

          

          

          

          

         

      </div>

      <!--next prev button-->
      <div class="arrows">
          <button class="prev"><</button>
          <button class="next">></button>
      </div>


      <!-- time running -->
      <div class="timeRunning"></div>

  </div>


  <section class="explore-section">
    <div class="explore-content">
      <h2>Explore Categories</h2>
      <p>
        BG Dhoop is one of the best places to fulfill all your Agarbatti,
        Dhoop Cone, Dhoop Sticks, Sambrani Cup and other puja related needs.
        Buy premium incense products at affordable prices with trusted
        quality. Discover divine fragrances for your home, temple and
        meditation space.
      </p>
    </div>
  </section>

  <div class="product-section">

    <a href="/product/loban" class="product-card">
      <img src="/images/loban.png" alt="Loban Dhoop">
      <h3>BG Loban Dhoop(100gm)</h3>
      <p class="price">₹149</p>
      <button class="buy-btn">View Product</button>
    </a>
  
    <a href="/product/rose" class="product-card">
      <img src="/images/rose.png" alt="Rose Dhoop">
      <h3>BG Rose Dhoop(100gm)</h3>
      <p class="price">₹149</p>
      <button class="buy-btn">View Product</button>
    </a>
  
    <a href="/product/lavender" class="product-card">
      <img src="/images/lav.png" alt="Lavender Dhoop">
      <h3>BG Lavender Dhoop(100gm)</h3>
      <p class="price">₹149</p>
      <button class="buy-btn">View Product</button>
    </a>

    <a href="/product/mix" class="product-card">
      <img src="/images/mix.png" alt="Lavender Dhoop">
      <h3>BG Mix Fragrance Dhoop(100gm)</h3>
      <p class="price">₹149</p>
      <button class="buy-btn">View Product</button>
    </a>

    <a href="/product/sandalwood" class="product-card">
      <img src="/images/sandal.png" alt="Lavender Dhoop">
      <h3>BG Sandalwood Dhoop(100gm)</h3>
      <p class="price">₹149</p>
      <button class="buy-btn">View Product</button>
    </a>
  


    <a href="/product/loban2" class="product-card">
      <img src="/images/loban.png" alt="Loban Dhoop">
      <h3>BG Loban Dhoop(200gm)</h3>
      <p class="price">₹299</p>
      <button class="buy-btn">View Product</button>
    </a>
  
    <a href="/product/rose2" class="product-card">
      <img src="/images/rose.png" alt="Rose Dhoop">
      <h3>BG Rose Dhoop(200gm)</h3>
      <p class="price">₹299</p>
      <button class="buy-btn">View Product</button>
    </a>
  
    <a href="/product/lavender2" class="product-card">
      <img src="/images/lav.png" alt="Lavender Dhoop">
      <h3>BG Lavender Dhoop(200gm)</h3>
      <p class="price">₹299</p>
      <button class="buy-btn">View Product</button>
    </a>

    <a href="/product/mix2" class="product-card">
      <img src="/images/mix.png" alt="Lavender Dhoop">
      <h3>BG Mix Fragrance Dhoop(200gm)</h3>
      <p class="price">₹299</p>
      <button class="buy-btn">View Product</button>
    </a>

    <a href="/product/sandalwood2" class="product-card">
      <img src="/images/sandal.png" alt="Lavender Dhoop">
      <h3>BG Sandalwood Dhoop(200gm)</h3>
      <p class="price">₹299</p>
      <button class="buy-btn">View Product</button>
    </a>





  </div>

</div>
  


  </div>

  <div class="usp">
    <div class="uspleft">
      <h2>Why Choose BG Dhoop</h2>
      <p>
        Rooted in Indian traditions, BG Dhoop provides authentic and high-quality puja 
        essentials. From agarbatti to sambrani cups, every product is made to enhance 
        your devotion and daily rituals.
      </p>
    </div>
    <div class="uspright">
      <img src="/images/budha.jpg" alt="image">
    </div>
  </div>



   <%- include('partials/footer') %>

  

   <script src="/js/main.js"></script>
</body>
</html>