<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/header') %>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Crimson+Pro"
    />
    <link rel="stylesheet" href="/css/products.css" />
    <link rel="icon" type="image/png" href="/images/logo.png" />
    <title>BGdhoop</title>
</head>
<body>
  <%- include('partials/popmsg') %> <%- include('partials/nav') %>


  
  <div class="product-section">

    <a href="/product/loban" class="product-card">
      <img src="/images/loban.png" alt="Loban Dhoop">
      <h3>BG Loban Dhoop(100gm)</h3>
      <p class="price">₹149</p>
      <button class="buy-btn">View Product</button>
    </a>
  
    <a href="/product/rose" class="product-card">
      <img src="/images/rose.png" alt="Rose Dhoop">
      <h3>BG Rose Dhoop(100gm)</h3>
      <p class="price">₹149</p>
      <button class="buy-btn">View Product</button>
    </a>
  
    <a href="/product/lavender" class="product-card">
      <img src="/images/lav.png" alt="Lavender Dhoop">
      <h3>BG Lavender Dhoop(100gm)</h3>
      <p class="price">₹149</p>
      <button class="buy-btn">View Product</button>
    </a>

    <a href="/product/mix" class="product-card">
      <img src="/images/mix.png" alt="Lavender Dhoop">
      <h3>BG Mix Fragrance Dhoop(100gm)</h3>
      <p class="price">₹149</p>
      <button class="buy-btn">View Product</button>
    </a>

    <a href="/product/sandalwood" class="product-card">
      <img src="/images/sandal.png" alt="Lavender Dhoop">
      <h3>BG Sandalwood Dhoop(100gm)</h3>
      <p class="price">₹149</p>
      <button class="buy-btn">View Product</button>
    </a>
  


    <a href="/product/loban" class="product-card">
      <img src="/images/loban.png" alt="Loban Dhoop">
      <h3>BG Loban Dhoop(200gm)</h3>
      <p class="price">₹299</p>
      <button class="buy-btn">View Product</button>
    </a>
  
    <a href="/product/rose" class="product-card">
      <img src="/images/rose.png" alt="Rose Dhoop">
      <h3>BG Rose Dhoop(200gm)</h3>
      <p class="price">₹299</p>
      <button class="buy-btn">View Product</button>
    </a>
  
    <a href="/product/lavender" class="product-card">
      <img src="/images/lav.png" alt="Lavender Dhoop">
      <h3>BG Lavender Dhoop(200gm)</h3>
      <p class="price">₹299</p>
      <button class="buy-btn">View Product</button>
    </a>

    <a href="/product/mix" class="product-card">
      <img src="/images/mix.png" alt="Lavender Dhoop">
      <h3>BG Mix Fragrance Dhoop(200gm)</h3>
      <p class="price">₹299</p>
      <button class="buy-btn">View Product</button>
    </a>

    <a href="/product/sandalwood" class="product-card">
      <img src="/images/sandal.png" alt="Lavender Dhoop">
      <h3>BG Sandalwood Dhoop(200gm)</h3>
      <p class="price">₹299</p>
      <button class="buy-btn">View Product</button>
    </a>





  </div>







  <%- include('partials/footer') %>

  

   <script src="/js/main.js"></script>
</body>
</html>